html,
body {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-family: helvetica, arial;
}

header,
nav,
main,
footer,
article {
  flex-basis: auto;
  margin: 0.4em;
  padding: 1em;
  border-radius: 6px;
  text-align: center;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

header {
  background: deeppink;
  padding: 1rem;
}

main {
  background: grey;
  color: #444;
  padding: 1rem;
  width: 60%;
  overflow: auto; /* Empêche le dépassement des flottants. */
}

nav {
  background: whitesmoke;
  color: #444;
  padding: 1rem;
  width: 40%;
  overflow: auto; /* Empêche le dépassement des flottants. */
}

footer {
  background: purple;
  padding: 1rem;
}

b {
  color: purple;
  margin-left: 20px;
  float: left;
}

.content {
  display: flex;
}

.contenerInfoSensor {
  color: #444;
  padding: 1rem;
  width: 60%;
  float: left;
  overflow: auto; /* Empêche le dépassement des flottants. */
}

.contenerHistoricTable {
  color: #444;
  padding: 1rem;
  width: 40%;
  float: right;
  overflow: auto; /* Empêche le dépassement des flottants. */
}
